*.psd

#CMake

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-*/
cmake-*/*

#OSX
.DS_Store

# Building
reports/*
output/*
.idea/*
